@model Fale_Conosco.ViewModel.FaleConoscoVM
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Excluir";
}

<h1>Você tem certeza que deseja excluir?</h1>
<div class="col-lg-12">
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assunto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Assunto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Celular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CEP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CEP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Complemento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Complemento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>

    <div class="form-group">
        <button onclick="Excluir(@Model.Id)" class="btn btn-danger">Excluir</button>
        <a asp-action="Lista" class="btn btn-secondary">Voltar</a>
    </div>

</div>
@section scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        var token = $('input[name="__RequestVerificationToken"]').val();
        function Excluir(id) {
            $.ajax({
                method: 'POST',
                url: "@Url.Action("Excluir","FaleConosco")",
                data: { __RequestVerificationToken: token, id: id },
                success: function (data) {
                    Swal.fire("Excluido com sucesso!!!", "", "success").then(function () {
                    window.location = "@Url.Action("Lista","FaleConosco")";
                    });
                }
            })
        }
    </script>
}
